version: '3.3'
services:
    userservice:
        # container_name: userservice
        image: userservice:v0.7.0

        networks:
            red:
                aliases:
                    - chat.chat.localhost
                    - user.chat.localhost
        # ports:
            # - "9000:9000"
        env_file:
            - .env
        restart: always
        # #Configuracion Autoscaling de Traefik
        # deploy:
        #     replicas: 2
        #     resources:
        #         limits:
                    # cpus: "0.5"

        # labels:
            # - "traefik.enable=true"
            # - "traefik.http.routers.userservice.rule=Host(`${NAME}.localhost`)"
            # - "traefik.http.services.userservice.loadbalancer.server.port=9000"
            # - "traefik.http.routers.userservice.entrypoints=http,https,mysql,redis"
            # - "traefik.http.routers.userservice.tls=true"
            #Configuracion Autoscaling de Traefik
            # - "traefik.autoscale=true"

            #Configuracion Circuit Breaker
            # - "traefik.http.middlewares.userservice-cb.circuitbreaker.expression=ResponseCodeRatio(500, 600, 0, 600) > 0.30 || NetworkErrorRatio() > 0.10"

networks:   
    red:
      external: true
