<!DOCTYPE html>
<html lang="en">
<head>
    <meta harset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style/styles.css' %}">
    {% block head %}{% endblock %}
    <title>{% block title %}{% endblock %} - Real Time Chat</title>
    {% load static %}
    <style>
		body {
            background-image: url("{% static 'img/chat-background.jpg' %}");
            background-size: cover;
		}
	</style>
</head>
<body class="fondo">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light header">
          <div class="container-fluid">
            <a class="navbar-brand" href="{{chat.url}}/menu/">
              <img src="{% static 'img/live-chat-logo.png' %}" alt="" width="5%" height="auto" class="d-inline-block align-text-center">
              Real time chat
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav ms-auto nav">
                <li class="nav-item dropdown" style="margin-right: 10rem;">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ username }}
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="#">Perfil</a></li>
                    <form method="POST" action=>
                      {% csrf_token %}
                      <li><button type="submit" class="dropdown-item" >Desconectarse</button></li>
                    </form>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
    </header>
{% block content %}
{% endblock %}
</body>

<footer class="footer mt-auto py-3">
  {% block footer %}
  {% endblock %}
  <span style="margin: 10px; position: absolute; bottom: 0; left: 0;" class="text-muted">
    Chat Real Time © <script>document.write(new Date().getFullYear())</script>
  </span>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</html>