<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{static_path}}/styles.css">
    <title>Real time chat</title>
</head>
<body class="fondo">
    <div class="">
        <header class="header">
          <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">
                <img src="{{static_path}}/live-chat-logo.png" alt="" width="80" height="60" class="d-inline-block align-text-center">
                Real time chat
              </a>
            </div>
          </nav>
        </header>
    </div>
    
    <div class="card-body d-flex justify-content-center">
      {% for group in groups %}
        <div class="card card-chat" style="width: 18rem;">
            <img class="chat-img" src="">
            <div class="card-body">
              <h5 class="card-title">{{ group.name }}</h5>
              <p class="card-text">Aquí va el texto relacionado a la descripción del grupo.</p>
              <a href="#" class="btn btn-primary">Enter chat</a>
            </div>
        </div>
       
      {% endfor %}
    </div>
    
    <footer class="footer mt-auto py-3">
        <span style="margin: 10px ;" class="text-muted">Real time chat ©<script>document.write(new Date().getFullYear())</script> </span>
    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  </body>
</html>