{% extends 'base_chat.html' %}
{% block head %}
<link rel="stylesheet" href="{% static 'style/styles.css' %}">
{% endblock %}
{% block content %}
      <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light header">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">
              {% load static %}
              <img src="{% static 'img/live-chat-logo.png' %}" alt="" width="5%" height="auto" class="d-inline-block align-text-center">
              Real time chat
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav ms-auto nav">
                <li class="nav-item dropdown" style="margin-right: 10rem;">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Usuario
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="#">Perfil</a></li>
                    <li><a class="dropdown-item" href="#">Desconectarse</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>

        </nav>
        <div class="header-img">
          
          <img src="{% static 'img/chat-gpt.jpg' %}" alt="" style="max-width: auto; height: 100vh; width: 100%;">
        </div>
      </header>
    <div class="d-flex justify-content-center item">
      <div class="item1">
        <p>Detalles</p>
      </div>
      <div class="d-flex flex-wrap justify-content-center item2">
        {% for group in groups %}
          <div class="card card-chat card-hov" style="width: 16rem;">
              <img class="chat-img" src="{% static 'img/Eighy_Six_logo.jpg' %}">
              <div class="card-body">
                <h5 class="card-title">Nombre de grupo</h5>
                <p class="card-text">Aquí va el texto relacionado a la descripción del grupo.</p>
                <a href="#" class="btn btn-primary">Enter chat</a>
              </div>
          </div>
        {% endfor %}
      </div>
      <div class="item3">
        <p>PAN CON QUESO 2</p>
      </div> 
    </div>
{% endblock %}