{% extends 'base_chat.html' %}
{% block head %}
    <meta charset="utf-8">
    <title>Group chat - Real time Chat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style/group_style.css' %}">
{% endblock %}
{% block content %}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<!-- <div>
    <header>
        <nav class="navbar navbar-light bg-light sticky-top">
            <div class="container-fluid">
              <a class="navbar-brand" href="{{chat.url}}/menu/">
                <img src="{% static 'img/live-chat-logo.png' %}" alt="" width="80" height="60" class="d-inline-block align-text-center">
                Real time chat
              </a>
            </div>
          </nav>
    </header>
</div> -->
<br>
<div class="container">
    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="card chat-app">
                <div id="plist" class="people-list">
                    <div class="input-group">
                        <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-search"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Search...">
                    </div>
                    <ul class="list-unstyled chat-list mt-2 mb-0">
                    <li class="clearfix">
                    <img src="{% static 'img/group-chat-1.png' %}" alt="avatar">
                    <div class="about">
                    <div class="name">Group</div>
                    <div class="status"> <i class="fa fa-circle online"></i> 5 members online </div>
                    </div>
                    </li>
                    <li class="clearfix active">
                    <img src="{% static 'img/group-chat-1.png' %}" alt="avatar">
                    <div class="about">
                    <div class="name">{{ group.name }}</div>
                    <div class="status"> <i class="fa fa-circle online"></i>2 members online </div>
                    </div>
                    </li>
                    <li class="clearfix">
                    <img src="{% static 'img/group-chat-1.png' %}" alt="avatar">
                    <div class="about">
                    <div class="name">Group</div>
                    <div class="status"> <i class="fa fa-circle offline"></i> offline </div>
                    </div>
                    </li>
                    <li class="clearfix">
                    <img src="{% static 'img/group-chat-1.png' %}" alt="avatar">
                    <div class="about">
                    <div class="name">Group</div>
                    <div class="status"> <i class="fa fa-circle offline"></i> offline </div>
                    </div>
                    </li>
                    <li class="clearfix">
                    <img src="{% static 'img/group-chat-1.png' %}" alt="avatar">
                    <div class="about">
                    <div class="name">Group</div>
                    <div class="status"> <i class="fa fa-circle offline"></i> offline </div>
                    </div>
                    </li>
                    </ul>
                </div>
                <div class="chat">
                    <div class="chat-header clearfix">
                    <div class="row">
                    <div class="col-lg-6">
                    <a href="javascript:void(0);" data-toggle="modal" data-target="#view_info">
                    <img src="{% static 'img/group-chat-1.png' %}" alt="avatar">
                    </a>
                    <div class="chat-about">
                    <h6 class="m-b-0">{{group.name}}</h6>
                    <small>Active members: {{username}} </small>
                    </div>
                    </div>
                    <div class="col-lg-6 hidden-sm text-right">
                    <a href="javascript:void(0);" class="btn btn-outline-secondary"><i class="fa fa-camera"></i></a>
                    <a href="javascript:void(0);" class="btn btn-outline-primary"><i class="fa fa-image"></i></a>
                    <a href="javascript:void(0);" class="btn btn-outline-info"><i class="fa fa-cogs"></i></a>
                    <a href="javascript:void(0);" class="btn btn-outline-warning"><i class="fa fa-question"></i></a>
                    </div>
                    </div>
                    </div>
                    <section class="message_box">
                        <div class="chat-history" id="chat-history">
                            <ul class="message-list">
                                {% for chat in chats %}
                                    {% comment %} <p>ESTO ES CHAT.USERNAME: {{chat.username}}</p> {% endcomment %}
                                    {% if chat.username == username %}
                                        <li class="clearfix">
                                            <div class="message-data text-right">
                                                <span class="message-data-time">10:10 AM, Today</span>
                                                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="avatar">
                                                <span>You:</span>
                                            </div>
                                            <div class="message other-message float-right"> {{ chat.message }} </div>
                                        </li>
                                    {% else %}
                                        <li class="clearfix">
                                            <div class="message-data">
                                                <span class="message-data-time">10:12 AM, Today</span>
                                                <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="avatar">
                                                <span>{{ chat.username|capfirst }}:</span>
                                            </div>
                                            <div class="message my-message"> {{ chat.message }}</div>
                                        </li>
                                    {% endif %}
                                {% empty %}
                                    <p>No messages yet</p>
                                {% endfor %}
                            </ul>
                            {{ group.id|json_script:"group-id" }}
                            {{ username|json_script:"username" }}
                            {{ user_id|json_script:"user-id" }}
                        </div>
                    </section>
                        <form action="#" method="POST" id="chat-form" name="chat-form">
                            {% csrf_token %}
                            <div class="chat-message clearfix">
                                <div class="input-group mb-0">
                                    <input type="text" name="form_message" class="form-control" id="form_message" placeholder="Enter text here...">
                                    <div class="input-group-prepend">
                                        <button id="chat-message-submit" type="submit" class="input-group-text"><i class="fa fa-send"></i></button>
                                    </div>
                                </div>
                            </div>
                        </form>        
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript">
	
</script>
<script>
    // Obtener el nombre del grupo por medio del id
    const groupID = JSON.parse(document.getElementById('group-id').textContent);
    const username = JSON.parse(document.getElementById('username').textContent);
    const userID = JSON.parse(document.getElementById('user-id').textContent);

    // Conectar al grupo
    var wss = new WebSocket(
        'wss://' 
        + window.location.host
        + '/wss/chat/group/'
        + groupID
        + '/'
    );

    // Conectar al grupo
    wss.onopen = function(e) {   
        console.log('Connection established');
    };
    
    // Recibir datos del chat
    wss.onmessage = function(e) {
        const data = JSON.parse(e.data);
        document.getElementById('chat-log').innerHTML += `${data.username}: ${data.message}\n`;
        // Hacer scroll hacia abajo para mostrar el último mensaje
        document.getElementById('chat-log').scrollTop = document.getElementById('chat-log').scrollHeight;
    };

    // Desconectar del grupo
    wss.onclose = function(e) {
        console.log('Connection closed');
    };

    // Funcion para actualizar el chat
    function updateChat(message) {
        document.getElementById('chat-log').innerHTML += `${message}`;
        // Hacer scroll hacia abajo para mostrar el último mensaje
        document.getElementById('chat-log').scrollTop = document.getElementById('chat-log').scrollHeight;
    }

    // Enviar datos del chat
    document.getElementById('chat-form').onsubmit = function(e) {
        e.preventDefault();
        const message = document.getElementById('form_message').value;
        
        if (message === '') {
            alert('Please enter a message.');
            return;
        }
        
        wss.send(JSON.stringify({
            'message': message,
            'username': username,
            'user_id': userID,
        }));

        // Limpiar el campo de entrada después de enviar el mensaje
        document.getElementById('form_message').value = '';

        // Actualizar el chat con el nuevo mensaje
        updateChat(`${username}: ${message}`);
    };
</script>
{% endblock %}