version: "3"

services:
  redis:
    # container_name: redis
    image: redis:7.0.9
    restart: always
    volumes:
      - ./_data:/data
      - ./_data/redis.conf:/data/redis.conf
    command: redis-server /data/redis.conf #--requirepass ${REDIS_PASSWORD}
    # ports:
      # - "6378:6379"
    networks:
      - red
    labels:
        - "traefik.enable=true"
        - "traefik.tcp.routers.redis.rule=HostSNI(`*`)"
        - "traefik.tcp.services.redis.loadbalancer.server.port=6379"
        - "traefik.tcp.routers.redis.entrypoints=redis"
        # * - "traefik.tcp.routers.redis.tls=true"  !! Sirve para hacer un handshake con el proxy. Probar primero sin hacerlo.

networks:
    red:
      external: true
      driver: bridge