.env
_data
virtual/*
env_file
chat_service/chat/__pycache__/*
chat_service/chat_service/__pycache__/*
chat_service/tests/__pycache__/*
user_service/user/__pycache__/*
user_service/user_service/__pycache__/*
user_service/tests/__pycache__/*
chat_service/chat/migrations/__pycache__/*
dockers/traefik/_certs/*
data