version: '3.3'

services:
  consul:
    container_name: consul
    image: consul:1.15
    restart: always
    volumes:
     - ./config/config.json:/consul/config/config.json:ro #ro: es de read-only.
     - ./data:/consul/data:rw #rw: read-write
     - ./consul.d/chat.json:/consul/config/chat.json:ro
     - ./consul.d/user.json:/consul/config/user.json:ro
    ports:
      - 8500:8500
      - 8300:8300
    networks: 
      - red
    command: agent -bind 0.0.0.0 -disable-host-node-id=true #'agent': Script que espera a que otro este andando para correr.
    #* depend_on: no se usa porque solo se fija que este corriendo, si se levanta despues no lo vuelve a checkear.

    labels:
        - "traefik.enable=true"
        - "traefik.http.routers.consul.rule=Host(`consul.chat.localhost`)"
        - "traefik.http.services.consul.loadbalancer.server.port=8500"
        - "traefik.http.routers.consul.entrypoints=http,https"
        

networks:
    red:
      external: True

