Django==4.2.3
redis==4.6.0
channels==3.0.5
channels-redis==3.2.0
requests==2.31.0
python-decouple==3.4
pymysql==1.1.0
pytest-django==4.5.2
distutils-pytest==0.2.0
djangorestframework-simplejwt==5.2.2
pybreaker==1.0.1
django-consul==0.4.0
python-consul==1.1.0
python-dotenv==1.0.0
certifi==2023.7.22
setup-tools==68.0.0