root{
    --color_fondo: hsl(0, 0%, 19%);
    --fondo_blanco: hsl(220, 5%, 88%);
}

.header {
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.fondo {
    background-color: var(--color_fondo);
}

.card-chat {
    padding: 10px;
    margin: 10px;
    border-radius: 30px;
    text-align: center;
    /* flex: 1;
    width: 50%; */

}
  
.chat-img {
    width: 100px;
    height: 150px;
    border-radius: 20px;
    align-self: center;   
}

.text {
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.chat_box {
    background-color: var(--fondo_blanco);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 80%;
    height: 280px;
}

.message_box {
    width: 80%;
    height: 100px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    background-color: var(--fondo_blanco);

}

.subm_button {
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
} 

.message_box {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 20px;
}
    
#chat-log {
display: flex;
flex-direction: column;
overflow-y: auto;
height: 100%;
padding: 20px;
border: 1px solid #e6e6e6;
}

.messages {
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
width: 100%;
}

.message {
display: flex;
flex-direction: row;
align-items: center;
margin-bottom: 10px;
}

.user-message {
background-color: #0084ff;
color: #fff;
border-radius: 20px 20px 0 20px;
padding: 10px 20px;
max-width: 70%;
}

.other-message {
background-color: #f2f2f2;
color: #333;
border-radius: 20px 20px 20px 0;
padding: 10px 20px;
max-width: 70%;
}

.user-message .time,
.other-message .time {
font-size: 10px;
margin-left: 5px;
}

.user-message .time {
text-align: right;
margin-left: auto;
}

.message .avatar {
width: 30px;
height: 30px;
margin-right: 10px;
border-radius: 50%;
background-color: #ccc;
overflow: hidden;
}

.message .avatar img {
width: 100%;
height: 100%;
object-fit: cover;
}

.message .name {
font-weight: bold;
margin-right: 10px;
text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap;
max-width: 100px;
}

.message .content {
flex-grow: 1;
}

.message-form {
display: flex;
align-items: center;
background-color: #f2f2f2;
padding: 10px;
}

.message-form input[type="text"] {
flex-grow: 1;
padding: 10px;
border: none;
border-radius: 20px;
margin-right: 10px;
font-size: 16px;
}

.message-form button[type="submit"] {
background-color: #0084ff;
color: #fff;
border: none;
border-radius: 20px;
padding: 10px 20px;
font-size: 16px;
cursor: pointer;
}

.d-flex {
    flex-wrap: wrap;
}

form input[type="hidden"] {
    padding: 10px;
    border: solid 1px #ff0000;
}