root{
    --color_fondo: hsl(0, 0%, 19%);
    --fondo_blanco: hsl(220, 5%, 88%);
}


.header {
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.fondo {
    background-color: var(--color_fondo);
}

.card-chat {
    padding: 10px;
    margin: 10px;
    border-radius: 30px;
    text-align: center;
}

.chat-img {
    width: 100px;
    height: 150px;
    border-radius: 20px;
    align-self: center;   
}

.text {
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.chat_box {
    background-color: var(--fondo_blanco);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 80%;
    height: 280px;
}

.message_box {
    width: 80%;
    height: 100px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    background-color: var(--fondo_blanco);

}

.subm_button {
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
