Django==4.2.3
redis==4.5.4
django-redis==5.2.0
requests==2.31.0
python-decouple==3.4
pymysql==1.1.0
mysql.connector==2.2.9
djangorestframework-simplejwt==5.2.2
pybreaker==1.0.1
pyjwt==2.6.0
django-consul==0.4.0